#root {
  max-width: 1280px;
  margin: 0;
  margin-top: 64px;
  padding: 1rem;
  text-align: center;
  overflow-x: hidden;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.color-container {
  margin: 20px 0 30px 0;
  padding-top: 30px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 30px;
  border-top: 1px white solid;
}

@media (max-width: 700px) {
  .button-container {
    flex-direction: column;
  }

  .color-container {
    display: grid;
    grid-template-columns: repeat(4, 0.1fr);
  }
}

.rarity-container {
  margin: 20px 0 30px 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.symbol-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  border-radius: 50px;
}

.active-filter {
  background-color: white;
}
