.update-modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 20px;
  left: 0;
  width: calc(100% - 6px);
  z-index: 1000;
  border: white 3px solid;
}

.update-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #0a2d27;
}
