.update-modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 40px;
  left: 0;
  margin-left: 30px;
  width: calc(100% - 66px);
  z-index: 1000;
  border-left: white 10px solid;
  animation: fadeInAnimation ease 1s;
}

.update-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  width: 100%;
  background: linear-gradient(#e4b45d, #b87316, #dd6e27);
}

@keyframes fadeInAnimation {
  0% {
    left: -100vw;
  }
  100% {
    left: 0;
  }
}
