.card {
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.card-image {
  border-radius: 10px;
  width: 200px;
  transition: all 0.3s ease;
}

.card-image:hover {
  width: 200px;
  cursor: pointer;
  transform: scale(1.05);
}
