.button {
  width: 250px;
  padding: 16px;
  margin: 10px;
  color: black;
  outline: none;
  /* background-color: "silver"; */
  border: none;
}

.active {
  background-color: #ccafa5 !important;
  color: black !important;
  /* outline: solid 5px black;
  outline-offset: -5px;
} */
}

.button:hover {
  background-color: #e5dace !important;
  color: black !important;
  border: none;
}

.button:active {
  outline: none;
  background-color: #e5dace !important;
  color: black !important;
}

.button:focus {
  outline: none;
  border: solid 1px #646cff;
}
